.modal-no-buttons {
  .ant-modal-confirm-btns {
    display: none;
  }
}
body > div:first-of-type {
  min-height: 100%;
}
.ant-dropdown-hidden {
  pointer-events: none;
}
.hide-mobile {
  @media only screen and (max-width: 500px) {
    display: none !important;
  }

  @media only screen and (min-width: 500px) {
    display: inherit;
  }
}

#__next-prerender-indicator {
  left: 60px;
  right: initial;
}


// Animations
@keyframes line-loader-animation {
  0% {
    width: 0;
    background-color: #47809c;
  }
  49% {
    width: 100%;
    left: 0;
    background-color: red;
  }
  100% {
    left: 100%;
    width: 0;
    background-color: #47809c;
  }
}
